*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color:white;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}

.container-banner-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-bar{
    width: 100%;
    height: 64px;
    display: flex;
}

.nav-left{
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 16px;
    flex-grow: 1;
    justify-content: end;
    padding-right: 24px;
}

.content{
    width: 100%;
}

.logo-icon{
    width: 32px;
    height: 32px;
}

.logo-name{
    font-size: larger;
}

.logo-name-gray{
    color: gray;
}

a{
     text-decoration: none; 
     color: black;
     font-size: small;
}

#button{
    background-color:  rgb(54, 54, 54);
    color: whitesmoke;
    font-size: medium;
}

#button:hover{
    font-size: large;
}

.nav-menu:hover{
    font-size: x-large;
}

.hero{
    display: flex;
}

.hero-container{
    width: 60%;
    padding-left:24px ;
    padding-right:24px ;
    padding-top:32px ;
    padding-bottom:32px ;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text-banner{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 24px;
    gap: 30px;
}

.message{
    font-size: 0.8rem;
    font-weight: 300;
    color: rgba(38, 37, 37, 0.784);
}

.s-message{
    color: black;
    font-weight: 500;
}

.slogan{
    color: rgba(0, 0, 0, 0.653);
    font-size: 2rem;
    font-weight: 800;
}

#b-banner{
    width: 300px;
    padding: 8px;
    height: 30;
    text-align: center;
    background-color: rgb(54, 54, 54);
    color: whitesmoke;
    font-size: large;
}

.information{
    display: flex;
}

.info-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.info-main{
    object-fit: cover;
    width: 100%;
}

.info-right{
    width: 40%;
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.info-content{
    display: flex;
    padding: 16px;

}

.info-content-img{
    width: 35%;
}
.info-content-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
    width: 65%;
    font-size: 1rem;
    padding-left: 16px;
}

.bg-gary{
    background-color: lightgray;
}

.course-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:32px ;
    padding-bottom: 32px;
    padding-left: 72px;
    padding-right: 72px;
}

.course{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
    gap: 32px;
}

.course-item{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-bottom: 24px;
}

.course-item-top{
    height: auto;
}

.course-item-bottom{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}

.thesis{
    padding-top: 32px;
}

.thesis-container{
    display: flex;
    gap: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
}

.tsis-left{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.tsis-right{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.tsis-topic{
    text-align: center;
}

.topic{
    color: rgb(68, 68, 68);
}


.tsis-item{
    display: flex;
    gap: 16px;
    padding: 16px;
}

.tsis-right-img{
    width: 35%;
}

.tsis-right-message{
    width: 65%;
}

.tsis-vdo-message{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 8px;
}

footer{
    display: flex;
    justify-content: end;
    align-items: start;
    padding-top: 16px;
    padding-right: 24px;
    padding-left: 24px;
    height: 100px;
    font-size: x-small;
    font-weight: 200;
    border-top: 2px solid rgba(213, 213, 213, 0.553);

}

.about-me-right{
    display: flex;
    flex-grow: 1;
    justify-content: end;
    gap: 16px;
}
